<button class="foodBtn" ng-repeat="food in $ctrl.foods">
	<div ng-click="$ctrl.foodChosen(food)">
		<b>{{food.name}}</b> <br>
		Contains: {{food.ingredients}} <br>
        Price: ${{food.price}} <br>

	</div>
</button>
<br>

<button ng-click="$ctrl.suggest3()">None of these</button>
<br>
<br>

<div ng-show="$ctrl.showConfirm()">
	<form ng-submit="$ctrl.makeOrder()">
    You chose ( {{$ctrl.foodchose.name}} ) <br>
    Street Address: <input ng-model="$ctrl.streetAd" type="text" name="text" required=""/><br>
    Zip Code: <input ng-model="$ctrl.zipcode" type="text" name="text" required="" /><br>
    City: <input ng-model="$ctrl.city" type="text" name="text" required=""/><br>
    State: <input ng-model="$ctrl.state" type="text" name="text" required=""/><br>
    Phone: <input ng-model="$ctrl.phone" type="text" name="text" required=""/><br>

    <input type="submit" value="Confirm Order" />
  </form>
</div>

<br><br>
Your past orders:
<li ng-repeat="order in $ctrl.foodorders">
	{{order.text}} - {{order.createdAt}}

</li>
