<button ng-click="$ctrl.vid1(); vid1=true; vid2=false; vid3=false;">Room 1</button>
<button ng-click="$ctrl.vid2(); vid1=false; vid2=true; vid3=false;">Room 2</button>
<button ng-click="$ctrl.vid3(); vid1=false; vid2=false; vid3=true;">Room 3</button>

<div id='roompic'>
  <img src="roompic.png" alt="room instructions"></img>
</div>

<div id="vidRoom1" class="vidroom" ng-show="vid1">
  <video id="video1" height="576" width="1024" autoplay></video>
  <chat></chat>
</div>
<div id="vidRoom2" class="vidroom" ng-show="vid2">
  <video id="video2" height="576" width="1024" autoplay></video>
  <chat></chat>
</div>
<div id="vidRoom3" class="vidroom"  ng-show="vid3">
  <video id="video3"  height="576" width="1024" autoplay></video>
  <chat></chat>
</div>
